###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/developer-relations

############################
#####  Project Files  ######
############################

/src/**                                         @hashgraph/developer-relations
/__tests__/**                                   @hashgraph/developer-relations


#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/dependabot.yml                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-relations

# NodeJS project files
package.json                                    @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations
package-lock.json                               @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations
jest.config.mjs                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations

# Codacy Tool Configurations
/config/                                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations
.remarkrc                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations

# Semantic Release Configuration
.releaserc                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-relations
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/developer-relations

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-relations
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/developer-relations
