###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/hiero-cli-maintainers

############################
#####  Project Files  ######
############################

/src/**                                         @hiero-ledger/hiero-cli-maintainers
/__tests__/**                                   @hiero-ledger/hiero-cli-maintainers


#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers
/.github/workflows/                             @hiero-ledger/github-maintainers
/.github/dependabot.yml                         @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers

# NodeJS project files
package.json                                    @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
package-lock.json                               @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
jest.config.mjs                                 @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
.remarkrc                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers

# Semantic Release Configuration
.releaserc                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
**/LICENSE                                      @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
**/.gitignore.*                                 @hiero-ledger/github-maintainers @hiero-ledger/hiero-cli-maintainers
