version: 2

defaults: &defaults
  docker:
    - image: circleci/openjdk:11-stretch

references:
  workspace_root: &workspace_root
    /home/circleci/hedera-cli
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
      - release:
          requires:
            - build
          filters:
            branches:
              only:
                - master

jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Build and Test
          command: ./scripts/build.sh

      - persist_to_workspace:
          root: *workspace_root
          paths:
            - hedera-cli

  release:
    <<: *defaults
    steps:
      - *attach_workspace

      - run:
          name: Prerequisites
          command: sudo apt -y update && sudo apt -y install git python curl

      - run:
          name: Release
          command: ./scripts/release.sh
